modules = ["nodejs-20", "web"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-25_05"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 40753
externalPort = 3000

[[ports]]
localPort = 42361
externalPort = 3001

[env]
PORT = "5000"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
expertMode = true

[userenv]

[userenv.shared]
OTX_API_KEY = "f6d141ce7fcab351cf88efb44839a702b31f3af417227e4c0869e226e6bbd00a"
VIRUSTOTAL_API_KEY = "8c35e611495e549943ee68258f56a4c43c34d35b9b7d69ab7feb6cf307e0a201"
ABUSECH_AUTH_KEY = "793690698beb40c9dfc8ae6d9a850b6670f3b15c8d54db12"
OPENAI_API_KEY = "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"
JWT_SECRET = "ctia_project_secret"
MONGODB_URI = "mongodb+srv://sambhavjain22:university@testcluster.7l7gnxl.mongodb.net/ctia"
